.image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height */
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Behind the text */
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Text color */
    z-index: 2; /* Above the image */
    font-size: 2rem; /* Adjust font size */
    text-align: center; /* Center text */
  }

  .text-overlay-video {
    position: absolute;
    top: 20px; /* Adjust as needed for padding from top */
    right: 20px; /* Adjust as needed for padding from right */
    color: white; /* Text color */
    z-index: 2; /* Above the image */
    font-size: 1.5rem; /* Adjust font size */
    text-align: right; /* Align text to the right */
  }